@import "../../scss/helpers/mixins";
@import "../../scss/helpers/variables";

.input {
  padding: 0 20px;
  width: 100%;
  min-height: 48px;
  border: 1px solid var(--Stroke_colors-card, #d1def2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--Text_colors-Secondary, #53575e);
  background-color: transparent;

  &:hover {
    border-color: var(--Stroke_colors-button_secondary, #0032af);
  }

  &:active,
  &:focus {
    border: 1px solid var(--Stroke_colors-button_secondary, #0032af);
    box-shadow: 0 0 0 3px #d1def2;
    background-color: #fff;
  }

  &::placeholder {
    color: #a9abaf;
  }
}
