@import "../../scss/helpers/mixins";
@import "../../scss/helpers/variables";

.input {
  padding: 0 28px;
  width: 100%;
  min-height: 69px;
  border: 1px solid var(--Stroke_colors-card, #959595);
  border-radius: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--Text_colors-Secondary, #53575e);
  background-color: transparent;

  @include media($sm) {
    font-size: 14px;
  }

  &::placeholder {
    color: #a9abaf;
  }
}
