@import "../../scss/helpers/mixins";
@import "../../scss/helpers/variables";

.textarea {
  padding: 24px 28px;
  width: 100%;
  min-height: 174px;
  border: 1px solid var(--Stroke_colors-card, #959595);
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #53575e;
  background-color: transparent;
  resize: none;

  @include media($sm) {
    min-height: 174px;
    font-size: 14px;
  }

  &::placeholder {
    color: #a9abaf;
  }
}
