@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  margin-bottom: 154px;

  @include media($sm) {
    margin-bottom: 64px;
  }
}

.title {
  margin-bottom: 56px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--dark, #2c2c2c);

  @include media($sm) {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

.img {
  display: flex;
  justify-content: center;
}
