@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  margin-bottom: 40px;

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: var(--Text-sizes-H2, 32px);
  line-height: 130%;
  letter-spacing: -0.96px;
  color: #000;

  @include media($sm) {
    margin-bottom: 12px;
    font-size: 28px;
  }
}

.descr {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: var(--Text-sizes-Body, 14px);
  line-height: 150%;
  color: var(--Text_colors-Secondary, #53575e);

  @include media($sm) {
    margin-bottom: 24px;
  }
}

.elements {
  display: flex;
  margin-bottom: 40px;
  gap: 12px;

  @include media($lg) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.element {
  padding: 24px 32px;
  width: 100%;
  border-radius: 6px;
  background-color: var(--Backgrounds-Card-2, #f3f7fc);

  @include media($sm) {
    padding: 16px;
  }
}

.img {
  margin-bottom: 20px;
  min-height: 64px;
}

.subtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  color: #000;
}

.text {
  font-weight: 400;
  font-size: var(--Text-sizes-Body, 14px);
  line-height: 150%;
  color: var(--Text_colors-Secondary, #53575e);
}

.solution {
  max-width: 600px;
  font-weight: 400;
  font-size: var(--Text-sizes-Body, 14px);
  line-height: 150%;
  color: var(--Text_colors-Secondary, #53575e);

  mark {
    font-weight: 600;
    color: var(--Text_colors-Primary, #222325);
  }
}
