@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  margin-top: 104px;
  overflow: hidden;

  @include media($lg) {
    margin-top: 48px;
  }
}

.title {
  margin-bottom: 24px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--dark, #2c2c2c);

  @include media($sm) {
    margin-bottom: 16px;
    font-size: 40px;
  }

  mark {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(94deg, #1189c4 22.7%, #50b14c 90.5%);
    background-clip: text;
  }
}

.text {
  margin-right: auto;
  margin-bottom: 88px;
  margin-left: auto;
  max-width: 846px;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--gray2, #6b6b6b);

  @include media($sm) {
    margin-bottom: 32px;
    font-size: 18px;
  }
}

.img {
  display: flex;
  justify-content: center;

  @include media($sm) {
    margin-right: -12px;
    margin-left: -12px;
  }
}
