@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f4f6fb;

  @include media($sm) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.title {
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  max-width: 836px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: var(--dark, #2c2c2c);

  @include media($sm) {
    margin-bottom: 32px;
    font-size: 24px;
  }
}

.wrap {
  @include min-media($lg) {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 338px;
    max-width: 903px;
    background-image: url("../../../assets/images/pages/Home/Advanced/ellipse.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.items {
  @include media($lg) {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 16px;
  }
}

.item {
  padding-left: 68px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray2, #6b6b6b);
  background-position: top left;
  background-repeat: no-repeat;

  @include min-media($lg) {
    position: absolute;
  }

  @include media($lg) {
    min-height: 48px;
  }

  @include media($sm) {
    padding-left: 50px;
    background-size: 36px;
  }

  &:nth-child(1) {
    background-image: url("../../../assets/images/pages/Home/Advanced/1.svg");

    @include min-media($lg) {
      left: -25px;
      top: 46px;
      padding-right: 68px;
      padding-left: 0;
      max-width: 312px;
      text-align: right;
      background-position: top right;
    }
  }

  &:nth-child(2) {
    background-image: url("../../../assets/images/pages/Home/Advanced/2.svg");

    @include min-media($lg) {
      left: 75px;
      bottom: -5px;
      padding-right: 68px;
      padding-left: 0;
      max-width: 294px;
      text-align: right;
      background-position: top right;
    }
  }

  &:nth-child(3) {
    background-image: url("../../../assets/images/pages/Home/Advanced/3.svg");

    @include min-media($lg) {
      right: 102px;
      bottom: -4px;
      max-width: 264px;
    }
  }

  &:nth-child(4) {
    background-image: url("../../../assets/images/pages/Home/Advanced/4.svg");

    @include min-media($lg) {
      right: 0;
      top: 48px;
      max-width: 287px;
    }
  }

  mark {
    color: #2c2c2c;
  }
}

.btn {
  @include min-media($lg) {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
  }
}
