@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  padding-top: 112px;
  padding-bottom: 120px;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1929.25 82.5-370.5 66-262.5-66-172 87.5-343.5-125-314.5 52-215-93-260.5 93' stroke='%23F4F6FB' stroke-width='2'/%3E%3Cpath d='M1558.25 152.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM1296.25 86.5a4 4 0 1 1-.001-7.999 4 4 0 0 1 .001 7.999zM1123.25 173.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM780.25 49.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM466.25 100.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM251.25 8.5a4 4 0 1 1 0-8 4 4 0 0 1 0 8z' fill='%23F3F8FB'/%3E%3C/svg%3E");
  background-position: top 763px center;
  background-repeat: no-repeat;

  @include media($xl) {
    background-image: none;
  }

  @include media($sm) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.title {
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  max-width: 774px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--dark, #2c2c2c);

  @include media($sm) {
    margin-bottom: 40px;
    font-size: 40px;
  }

  mark {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(95deg, #1189c4 6.51%, rgba(16, 206, 102, 0.86) 91.55%);
    background-clip: text;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 104px;

  @include media($sm) {
    gap: 40px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 466px;
  gap: 32px;

  @include media($xl) {
    min-height: auto;
  }

  @include media($sm) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &:nth-child(even) {
    @include min-media($sm) {
      flex-direction: row-reverse;
    }
  }
}

.info {
  @include min-media($lg) {
    width: 100%;
    max-width: 545px;
  }

  @include media($lg) {
    width: fit-content;
  }
}

.subtitle {
  margin-bottom: 16px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--dark, #2c2c2c);

  @include media($sm) {
    margin-bottom: 8px;
    font-size: 24px;
  }

  mark {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(98deg, #1189c4 -2.07%, rgba(16, 206, 102, 0.86) 91.77%);
    background-clip: text;
  }
}

.text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray2, #6b6b6b);

  @include media($sm) {
    font-size: 14px;
  }
}

.img {

}
