@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.footer {
  padding-top: 40px;
  padding-bottom: 56px;
  background-color: #f4f6fb;

  @include media($md) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 32px;

  @include media($lg) {
    flex-direction: column;
  }

  @include media($sm) {
    margin-bottom: 32px;
  }
}

.logo {

}

.items {
  display: flex;
  gap: 32px;

  @include media($md) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}

.item {

}

.link {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray, #959595);
}

.socials {
  display: flex;
  gap: 16px;
}

.social {

}

.elements {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  gap: 40px;

  @include media($sm) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
  }
}

.element {

}

.copyright {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--gray, #959595);
}
