//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskBlack.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskBlack.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 900;
//  font-style: normal;
//}
//
@font-face {
  src:
    url("../assets/fonts/AndersonGroteskBold.woff2") format("woff2"),
    url("../assets/fonts/AndersonGroteskBold.woff") format("woff");
  font-family: "Anderson Grotesk";
  font-weight: 700;
  font-style: normal;
}

//
//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskBoldOblique.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskBoldOblique.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 700;
//  font-style: oblique;
//}
//
//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskLight.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskLight.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskLightOblique.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskLightOblique.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 300;
//  font-style: oblique;
//}
//
//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskOblique.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskOblique.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 400;
//  font-style: oblique;
//}

@font-face {
  src:
    url("../assets/fonts/AndersonGroteskRegular.woff2") format("woff2"),
    url("../assets/fonts/AndersonGroteskRegular.woff") format("woff");
  font-family: "Anderson Grotesk";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src:
    url("../assets/fonts/AndersonGroteskUltrabold.woff2") format("woff2"),
    url("../assets/fonts/AndersonGroteskUltrabold.woff") format("woff");
  font-family: "Anderson Grotesk";
  font-weight: 800;
  font-style: normal;
}

//
//@font-face {
//  src:
//    url("../assets/fonts/AndersonGroteskUltraOblique.woff2") format("woff2"),
//    url("../assets/fonts/AndersonGroteskUltraOblique.woff") format("woff");
//  font-family: "Anderson Grotesk";
//  font-weight: 800;
//  font-style: oblique;
//}
