body {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray2, #6b6b6b);
  background-color: #fff;
  font-optical-sizing: auto;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1224px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #1189c4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1189c4ff;
}

/* Firefox */
html {
  scrollbar-color: #1189c4 #f1f1f1;
  scrollbar-width: thin;
}
