@import "../../../scss/helpers/variables";
@import "../../../scss/helpers/mixins";

.root {
  margin-bottom: 104px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--Block-Bg, #f4f6fb);

  @include media($sm) {
    margin-bottom: 56px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.text {
  margin-right: auto;
  margin-left: auto;
  max-width: 934px;
  font-family: "Anderson Grotesk", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  color: var(--gray2, #6b6b6b);

  @include media($sm) {
    font-size: 18px;
  }
}
